* {
    box-sizing: border-box;
    text-align: center;
    clear: both;
}
a {
    float: left;
}
header {
    height: 50px;
}
div {
    width: 50%;
    margin: 0px auto 0px auto;
    display: flex;
    justify-content: center;
}

button {
    list-style: none;
    background-color: blue;
    color: white;
    display: block;
    padding: 10px;
    margin: 20px auto;
    border-radius: 5px;
}

button:hover {
    background-color: lightblue;
    color: blue;
    box-shadow: inset 0px 0px 5px orange;
}

#right-wrong {
    font-size: 1.2em;
    padding: 10px;
}
#question {
    font-size: 1.5em;
}
#high-score {
    justify-content: space-evenly;
    display: none;
} 
#scores-list {
    display: grid;
    grid-template-areas: "names scores";
    list-style: none;
    width: 50%;
    margin: 0 auto 0 auto;
    
}
li {
    padding: 5px;
    border: 1px solid black;
}
.name-col {
    grid-area: "names";
    padding: 5px;
    margin: 5px 0;
}

.score-col {
    grid-area: "scores";
    padding: 5px;
    margin: 5px 0;
}
.scores-btn {
    display: inline;
    margin: 10px;
}
